<!DOCTYPE html>
{% load static %}
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
     <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Select2 CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
      </head>
  <body style="body">
       
    
    
    
    	<div class="sign-up">
	  <div class="cover">
	    <form action="" method="POST" id="form">
	       {%csrf_token%}
        
        <h2 style="color: #7138ff">Intelli.ai</h2>
      </a>
      <p>Select template to continue.</p>
     
        {{form}}
	        <input type="submit" name="" id="btn" value="Generate" />
	      
	    </form>
	  </div>
	   <div id="div" style='margin: 1rem'>
  
  </div>
	</div>
    
   
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript" charset="utf-8">

const list_item = [];
// Get the form submit button
const submitButton = document.getElementById("btn");



submitButton.addEventListener("click", function(event) {
  // Prevent the default form submission behavior
  event.preventDefault();
  
  const div = document.getElementById("div");
  
  div.innerHTML = '<img src="{% static 'images/download.gif' %}" />'
  
  // Get the form data
  const formData = new FormData(document.getElementById("form"));

  // Send a POST request to the server
  fetch('/templates/new/', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    // Get a reference to the div element
    
    

    // Set the innerHTML of the div to the response data

    div.innerHTML = '';
    data.content.forEach(item => {
      console.log(item);
      const li = document.createElement('li');

      list_item.push(li);
      li.innerHTML = item.text;
      div.appendChild(li);

    });
  })
  .catch(error => console.error(error));
});


$("#id_prompt_style").select2({
  placeholder: "Select a programming language"
});


  
  </script>
 

  </body>
</html>